# chientd99_db_user
# mW95XMuo31f69G51

# mongodb+srv://chientd99_db_user:Mactonight@1@chiencluster.pyaianh.mongodb.net/?appName=ChienCluster

MONGODB_URI = mongodb+srv://chientd99_db_user:mW95XMuo31f69G51@chiencluster.cdd8u0o.mongodb.net
JWT_SECRET = "backend_test";