# chientd99_db_user
# VDsagB03pxzz0vrr

# MONGODB_URI = mongodb+srv://chientd99_db_user:VDsagB03pxzz0vrr@cluster0.fh99tzv.mongodb.net/backend
MONGODB_URI = mongodb+srv://chientd99_db_user:VDsagB03pxzz0vrr@cluster0.fh99tzv.mongodb.net/backend

PORT = 4000
JWT_SECRET = "backend_test";
